@model Tour

<div class="card">
    <div class="box-tour">
        <img class="test-1" src="~/css/img/test1.jpg" />
        <h4>
            @Model.NameTour
                <span class="badge badge-pill badge-primary">
                    <small>@Model.Price.ToString("c")</small>
                </span>
            </h4>
        <div class="item">
            <a class="ti-flag-alt ti-1"></a><a class="tour-3"> @Model.Place</a>
        </div>
        <div class="item">
            <a class="ti-time ti-1"></a><a class="tour-3"> @Model.DepartureDate</a>
        </div>
        <div class="price">
            <p class="">@Model.Note</p>
        </div>
    </div>
</div>